$colorBody: #F9F9F9;
$colorTextViolet: #7E72F2;
$colorTextBlack: #2C2C2C;
$colorFilter: #FFFFFF;
$colorButton: #6F64F8;
$colorSearch: #999999;
$colorShadow: rgba(0, 0, 0, 0.135216);
$colorShadowStore: rgba(0, 0, 0, 0.0778245);
$colorPagination: #EDEDED;

@mixin center-items {
  display: grid;
  justify-content: center;
  align-items: center;
}
@mixin font {
  font-family: Montserrat, serif;
  font-style: normal;
}



html {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  max-width: 100%;
}

.store {
  display: grid;
  grid-gap: 0.5%;
  background: $colorBody;
  box-shadow: 0 2px 8px $colorShadowStore;
  grid-template-rows: auto auto auto;
  padding-bottom: 50px;
  max-width: 100%;
}

.header {
  .header__name {
    height: 126px;
    mix-blend-mode: darken;
    display: grid;
    grid-template-columns: 6% 94%;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 16% 84%;
    }
    .header__name-icon {
      display: grid;
      justify-content: center;
      align-self: center;
      margin-left: 2%;
    }
    .header__name-text {
      font-weight: 600;
      font-size: 48px;
      line-height: 27px;
      color: #7E72F2;
      @include font;
    }
  }
  .header__menu {
    height: 49px;
    display: grid;
    grid-template-columns: 2.5% 0.5% 0.5% 7% 0.5% 0.5% 7%;
    margin-left: 0.8%;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 5% 1% 1% 12% 1% 1% 12%;
      margin-left: 0.8%;
    }
    @media screen and (max-width: 720px) {
      grid-template-columns: 10% 2% 2% 20% 2% 2% 20%;
      margin-left: 0.8%;
    }
    .header__menu-icon {
      @include center-items;
    }
    .header__menu-sign {
      @include center-items;
    }
    .header__menu-section {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $colorTextViolet;
      @include center-items;
      @include font;
    }
    .header__menu-subsection {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $colorTextBlack;
      @include center-items;
      @include font;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 29% 69%;
  grid-gap: 1.5%;
  margin-left: 1.5%;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 100%;
  }
  .main__left {
    display: grid;
    grid-template-rows: 72px 1523px 84px;
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @media screen and (max-width: 720px) {
      display: none;
    }
    .main__left-filter {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .main__left-bar {
      background: $colorFilter;
      box-shadow: 0 2px 8px $colorShadow;
      border-radius: 8px;
      display: grid;
      grid-template-rows: 254px 20px 476px 20px auto;
    }
    .main__left-button {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      align-items: flex-end;
    }
  }
  .main__right {
    display: grid;
    grid-template-rows: 72px 90px auto;
    margin-left: 1.5%;
    .main__right-top {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .main__right-search {
      max-width: 100%;
    }
    .main__right-grid {
      display: grid;
    }
  }
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40px 358px 40px;
  margin-top: 30px;
  .footer__pgnLeft {
    display: grid;
    justify-content: right;
    .footer__pgnLeft-icon {
      background: $colorPagination;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-right: 17px;
      @include center-items;
    }
  }
  .pagination {
    border-radius: 20px;
    background: $colorPagination;
    width: 358px;
    height: 40px;
    text-align:center;
    text-decoration: none;
    @include font;
    a {
      float: left;
      text-align:center;
      padding: 7px 10px 8px 9px;
      text-decoration: none;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 4px;
      color: $colorTextBlack;
    }
  }
  .footer__pgnRight {
    display: grid;
    justify-content: left;
    .footer__pgnRight-icon {
      background: $colorPagination;;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-left: 17px;
      @include center-items;
    }
  }
}

.number_active {
  background: $colorButton;
  color: $colorBody !important;
  border-radius: 20px;
}

.textFilter {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $colorTextBlack;
  display: grid;
  align-items: center;
  @include font;
}

.contButton {
  display: grid;
  align-items: center;
  justify-content: right;
}

.buttonFilter {
  background: $colorFilter;
  box-shadow: 0 2px 8px $colorShadow;
  border-radius: 8px;
  width: 47px;
  height: 40px;
  border: none;
}

.categoryRange {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $colorTextBlack;
  padding: 0 0 0 8%;
  @include font;
}

.nameCategory {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $colorTextBlack;
  @include font;
}

.line {
  padding-left: 48px;
}

.category {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $colorTextBlack;
  padding: 7% 0 0 8%;
  @include font;
}

.listCategory {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.valuesCategory {
  li {
    list-style-type:none;
    display: grid;
    justify-content: right;
    padding-right: 26%;
  }
}

.buttonClear {
  background: $colorButton;
  box-shadow: 0 2px 8px $colorShadow;
  border-radius: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $colorFilter;
  height: 56px;
  border: none;
  @include font;
}

.buttonHeart {
  box-shadow: 0 2px 8px $colorShadow;
  border-radius: 8px;
  width: 47px;
  height: 40px;
  border: none;
  background: $colorButton;
}

.search {
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: none;
  height: 62px;
  border-radius: 8px 0 0 8px;
  outline: none;
  background: $colorFilter;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: $colorSearch;
  box-shadow: 0 2px 8px $colorShadow;
  padding-left: 32px;
}

.searchButton {
  width: 64px;
  height: 64px;
  border: none;
  background: $colorFilter;
  text-align: center;
  color: $colorSearch;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
  box-shadow: 0 0 8px $colorShadow;
}

.gridContainer {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 486px 486px 486px;
  grid-gap: 28px;
  background: $colorBody;
  box-shadow: 0 2px 8px $colorShadowStore;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1200px) {
    grid-template-columns: 50% 50%;
  }
  @media screen and (max-width: 720px) {
    grid-template-columns: 100%;
  }
}

.frame {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  334px 31px 38px 38px 45px;
  background: $colorFilter;
  box-shadow: 0 2px 8px $colorShadow;
  border-radius: 8px;
  width: 100%;
  @include font;
  .image {
    text-align: center;
    align-self: center;
  }
  .grade_price {
    display: grid;
    grid-template-columns: 50% 50%;
    .grade {
      display: grid;
      width: 33%;
      height: 30px;
      background: $colorButton;
      border-radius: 3px;
      margin-left: 6%;
      .grade_numbers {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $colorFilter;
        grid-template-columns: 45% 20%;
        @include center-items;
      }
    }
    .price {
      display: grid;
      align-items: center;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: $colorTextBlack;
      text-align: end;
      padding-right: 6%;
      justify-content: flex-end;
    }
  }
  .mame {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $colorTextBlack;
    padding-left: 3%;
    align-self: end;
  }
  .note {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $colorTextBlack;
    padding-left: 3%;
  }
  .button_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    .button {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      border: none;
    }
    .button_wishlist {
      color: $colorTextBlack;
      background: $colorPagination;
      border-radius: 0 0 0 8px;
      grid-template-columns: 15px 100px;
      @include center-items;
    }
    .button_cart {
      color: $colorFilter;
      background: $colorButton;
      border-radius: 0 0 8px 0;
      grid-template-columns: 35px 100px;
      @include center-items;
    }
  }
}