.frame {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows:  334px 30px 34px 34px 45px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    max-width: 400px;
}

.image {
    text-align: center;
    align-self: center;
}

.grade_price {
    display: grid;
    grid-template-columns: auto auto;
}

.grade {
    display: grid;
    width: 65px;
    height: 30px;
    background: #6F64F8;
    border-radius: 3px;
    margin-left: 25px;
    place-items: center;
}

.grade_numbers {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
}

.price {
    display: flex;
    align-items: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #2C2C2C;
    text-align: end;
    padding-right: 20px;
    justify-content: flex-end;
}

.mame {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
    padding-left: 24px;
    align-self: end;
}

.note {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #2C2C2C;
    padding-left: 24px;
}

.button_button {
    display: grid;
    grid-template-columns: 200px 200px;
}

.button1 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #2C2C2C;
    background: #EDEDED;
    border-radius: 0 0 0 8px;
    border: 0;
}

.button2 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #6F64F8;
    border-radius: 0 0 8px 0;
    border: 0;
}

.star_icon{
    padding-left: 10px;
}

.heart_cart_icon {
    padding-right: 8px;
}
